<div class="jumbotron big-banner" style="height: 100vh">
  <div class="container">
    <div class="row justify-content-md-center mt-5">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">
              <label for="inputUsername">Username</label>
              <input type="form-input" class="form-control" id="inputUsername">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword">
              <small id="passwordHelp" class="form-text text-muted">Never share your password.</small>
              <button id="login-btn" type="submit" class="btn btn-secondary btn-sm">Submit</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sign-Up</h5>
            <p class="card-text">
            <form class="sign-up-form">
              <label for="signUpUsername">Username</label>
              <input type="form-input" class="form-control" id="signUpUsername">
              <label for="signUpPassword">Password</label>
              <input type="password" class="form-control" id="signUpPassword">
              <small id="passwordHelp" class="form-text text-muted">Never share your password.</small>
              <label for="inputFirstName">First Name</label>
              <input type="form-input" class="form-control" id="signUpFirst">
              <label for="inputLastName">Last Name</label>
              <input type="form-input" class="form-control" id="signUpLastName">
              <label for="inputBio">Bio</label>
              <input type="form-input" class="form-control" id="signUpBio">
              <small id="bioHelp" class="form-text text-muted">Enter a description. Other users will see
                this.</small>
              </p>
              <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/login.js"></script>