* {
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

nav {
  background-color: rgb(31, 30, 30) !important;
}

h3 {
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .75rem;
  font-weight: 400;
}

label {
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .75rem;
  font-weight: 400;
}

.big-banner {
  background-image: url('./bg-image.jpg');
  opacity: 0.8;
  background-size: cover;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.351);
}

.navbar-brand:hover{
  cursor: pointer;
}

#logout:hover,
#deleteProfile:hover {
  cursor: pointer;
}